.nav-container {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.nav-links {
    display: flex;
    justify-content: center;
    /* width: 800px; */
    height: 100%;
}

.nav-links a {
    margin: 0 20px;
    text-decoration: none;
    color: #9acffd;
}