.welcome-container {
    display: flex;
    justify-content: center;
}
.welcome-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    box-shadow: 1px 1px 9px rgba(150, 150, 150, 0.15);
    padding: 20px;
}

.welcome-card p {
    padding: 10px;
    align-self: left;
}

.site-title {
    color: #9acffd;
}

.main-card {
    max-height: 3rem;
    transition: all .5s ease;
    border-radius: 4px;
}

.main-title {
    color: rgb(201, 229, 238);
    display: flex;
    align-self: left;
    opacity: 1;
    transition: all 2s ease;
}

.main-inner-card {
    /* max-height: 0px; */
    opacity: 1;
    border-radius: 3px;
    transition: max-height 5s ease;
    transition: opacity 2s ease;
}